#footer-component {
  background-color: var(--prim-900);
  color: var(--prim-100);
  text-align: center;
  padding: 3rem;
}

#sponsor-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

#sponsor-container button {
  max-width: calc(var(--header-height)*1);
  aspect-ratio: 1/1;
  cursor: pointer;
  border: none;
  background-color: var(--prim-200);
}

#sponsor-container button img {
  width: 100%;
  object-fit: cover;
}