#header-component {
  background-color: green;
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .5rem;
  position: relative;
}

#generic-logo {
  height: 100%;
}

nav {
}

.hide-nav {
  display: none;
}

.show-nav {
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content:left;
  align-items: stretch;
  position: fixed;
  inset: 0 0 0 var(--hamburger-menu-space-width);
  background-color: rgb(104, 104, 104);
  padding-top: calc(var(--header-height) + 1rem);
}

nav button {
  background-color: rgb(159, 75, 75);
  cursor: pointer;
  padding: 1rem;
  border: none;
  margin: .5rem;
}

nav button:hover {
  opacity: 80%;
}

#hamburger-icon {
  height: 90%;
  cursor: pointer;
}

#navbar-space-button {
  position: fixed;
  z-index: 10;
  inset: 0 calc(100vw - var(--hamburger-menu-space-width)) 0 0;
  background-color: rgba(66, 66, 66, 0.347);
}

#exit-hamburger-menu {
  position: absolute;
  cursor: pointer;
  inset: 0 0 auto auto;
  width: calc(var(--header-height) - .5rem);
  margin: .5rem;
}