#header-component {
  background-color: green;
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .5rem;
}

#generic-logo {
  height: 100%;
}