#header-component {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .5rem;
  position: relative;
}

#generic-logo {
  height: 100%;
}

#header-navbar {
  z-index: 10;
  flex-direction: column;
  justify-content: left;
  align-items: stretch;
  position: fixed;
  inset: 0 0 0 auto;
  min-width: 300px;
  background-color: var(--grey-500);
  padding-top: calc(var(--header-height) + 1rem);
}

.hide-nav {
  display: none;
}

.show-nav {
  display: flex;
}

nav button {
  cursor: pointer;
  padding: 1rem;
  border: none;
  margin: .5rem;
  background-color: var(--grey-300);
  font-size: var(--f-lg);
  font-weight: 700;
  color: var(--grey-900);
  border-bottom: solid 3px var(--grey-300);
}

nav button:hover {
  border-bottom: solid 3px var(--grey-900);

}

#hamburger-icon {
  height: 90%;
  cursor: pointer;
}

#navbar-space-button {
  position: fixed;
  z-index: 10;
  inset: 0 300px 0 0;
  background-color: var(--grey-op);
}

#exit-hamburger-menu {
  position: absolute;
  cursor: pointer;
  inset: 0 0 auto auto;
  width: calc(var(--header-height) - .5rem);
  margin: .5rem;
}